@import url('https://fonts.googleapis.com/css?family=Ranga');
body {
    background-color: palegoldenrod;
    display: inline-block; 
}
article{
    font-family: 'Ranga', cursive;
    font-size: 2em;
}
#artikkel{
    background-color: peachpuff;
    max-width: 1024px;
    /* for usual: px, %,
     for fonts: pt, em, rem*/
}
.paragrahv{
    z-index: 1;
    font-size: 0.8em!important;
}
nav ul li:nth-child(2){
    border-width: 1px;
    border-style: dashed; 
}
nav{
    background-color: indianred;
    font-size: 2em;
    color: slateblue;
    /*max-width: 350px;*/
    /*display: inline-block;*/
    display: flex;
    /*position: fixed;*/
    /*left: 50px;
    top: 10px;*/
    margin: 5px;
    padding: 0 20px 0 0;
}
nav:first-of-type, #kalk{
    align-self: flex-end;
}
aside{
    display: inline-block;
}
footer{
    background-color: orange;
    height: 300px;
    order: -1;

}
#menuuTyhiAla{
    height: 200px;
}
#teine{
    left:300px;
}
#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:  center;
    align-content: center;
}

.button{
    background-color: #4A5;
    /*0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2em;
    margin: 5px 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px darkgrey;
}
.button:hover{
    margin: 7px 7px;
    box-shadow: 3px 3px 5px darkgrey;
}
#backvideo{
    position: absolute;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    background: url(http://thenewcode.com/assets/images/polina.jpg) no-repeat;
    background-size: cover;
}
.nav-pills li a{
    color: yellow;
}

@media (max-width: 600px){
    body{
        background-color: plum;
    }
}
@media screen and (min-width: 600px ) and (max-width: 1200px){
    body{
        background-color: yellow;
    }
}