body {
    background-color: palegoldenrod;
}
article{
    font-size: 2em;
}
#artikkel{
    background-color: peachpuff;
    max-width: 1024px;
    /*px, %, pt, em, rem*/
}
.paragrahv{
    font-size: 0.8em!important;
}
nav ul li:nth-child(2){
    border-width: 1px;
    border-style: dashed; 
}