<main id="event" >
    <ul id = "people">

    </ul>
    <script id="eventTemplate" type="text/template">
       <li class="peopleItem">
            <span >
                {{name}}
            </span>
            <span >
                {{joined}}
            </span>
            <button>X</button>
        </li>
    </script>



    <!--<template ajutise kasti kohta
    <form>
        <fieldset>
            <legend> Ajutine:</legend>
            <label for="textArea">Tekstiala:</label>
            <textarea required spellcheck id="textarea" name="textArea" ></textarea>
        </fieldset>
           <fieldset>
              <input type= "radio" name="size" id="size_1"><br>
               <label for="size_1*">Väike:</label>
                <input type= "radio" name="size" id="size_2"><br>
               <label for="size_2*">Keskmine:</label>
               <input type= "radio" name="size" id="size_3"><br>
               <label for="size_3*">Suur:</label>
           </fieldset>
           <label for="email">Email:</label> 
           <input autocomplete type= "email" name="email" id="email"><br>
           <label for="email">Email:</label> 
           <input readonly type= "email2" name="email2" id="email" value="juku@mail.ee"><br>
               <label for="color">Värv:</label>
               <input type= "color" name="color" id="color"><br>
                <label for="pass">Parool:</label>
               <input autofocus type= "password" name="pass" id="pass"><br>>-->

<form action="" method="GET">
        <fieldset>
            <legend> Registreerimise vorm:</legend>
            <label for="personName">Täisnimi:</label>
            <input required type= "text" name="name" id="personName"><br>
            <label for="joined">Kas liitud:</label>
            <select id"joined" name="joined">
                <option value="No">Ei</option>
                <option value="Maybe">Võibolla</option>
                 <option value="Yes">Jah</option>
            </select>
        <fieldset>
        <!--<input type="submit"value="Saada">-->
          <button type="submit">Saada</button>
          <label>* - kohustuslik </label>

    </form>
</main>