body {
    background-color: lightblue;
}
#artikkel{
    background-color: yellowgreen;
    max-width:1024px
    /*px, %,em, rem, pt*/
}
article {
    font-size: 1em;
}
 span {font-size:1em;
 } 
 .paragrahv{
     font-size: 2em
 }
 nav ul li:nth-child(2){
     border-width: 5px;
     border-style: dashed;
 }
 nav{
     font-size: 2em;
     background-color: blue;
     color: lawngreen;
     position: fixed;
     left: 600px;
     top: 30px;


 }