body {
    background-color: paleturquoise;
    
}
#artikkel{
    background-color: bisque;
    max-width: 1024px;


}

span{
    font-size: 1.5em;
}
article{
    font-size: 1em;
}
.paragraph{
    font-size: 0.5em;
}
nav ul li:nth-last-child(2){
    border-width: 2px;
    border-style: dashed; 
}
#footer1{
    background-color: white;
}
nav{
    background: yellow;
    font-size: 2em;
    color: red;
    display: inline-block;
    /**display: flex;**/

    /**position: fixed;
    left:50px;
    top: 20px;**/
    padding: 0px 0px 10px 0px;
}
#menyytyhiala{
    height:200px;
}

header{
    display: inline-block;
}