.loom{
    font-size: 2em;
}
.figure-img{
    max-width: 400px;
}
.crop {
    max-width: 400px; 
    max-height: 400px; 
    overflow: hidden;
}
.crop img{
    width: 300px; 
    height: 300px;
    margin: 0px 0 0 0px;
}
main{
    margin-top: 20px;
    margin-left: 20px;
}
#animalsModule{
    margin-top: 300px;
}